<div class="container">
    <nav class="navbar rounded shadow fixed-top" style="background-color: #b3d6ef;">
        <div class="container text-center d-flex justify-content-between">
            <div>
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#backToMenu">
                    <i class="fa-solid fa-backward"></i>
                </button>
            </div>
            
            <div>
                <h4>
                    {{groupName}} {{onlineUser.length}}/{{MaxPlayer}}
                </h4>
                
            </div>
            <div>
                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#info"> 
                    <i class="fa-regular fa-circle-question"></i> 
                </button>
            </div>
        </div>
    </nav>
</div>
<div class="container-fluid d-flex pt-5">
    <div class="row flex-fill pt-2 justify-content-between" >
            <div class="col justify-content-center text-center pt-2">
                <div class="dropdown-center">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Massages 
                        <i class="fa-regular fa-comments"></i>
                    </button>
                    <div class="dropdown-menu" style="max-height: 85vh; max-width: 58vh;" id="messageGroup">
                        <div *ngFor="let message of messages; index as i;">
                            <div class="dropdown-item">
                                <div *ngIf="message.type === 'system'; then system else game"></div>
                                <ng-template #game>
                                    <p class="badge bg-primary text-wrap fw-bold fs-6">
                                        {{message.message}}
                                    </p>
                                </ng-template>
                                <ng-template #system>
                                    <p class="badge bg-warning text-wrap fw-bold fs-6">
                                        {{message.message}}
                                    </p>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="groupName == groupLeader.groupName && 
                name == groupLeader.name && !gameOn" class="col pt-2 d-flex flex-row-reverse" >
                <button class="btn btn-warning"  (click)="gameStart()" [disabled]="!startGameShow">
                    Start The Game! <i class="fa-solid fa-circle-play"></i>
                </button>
            </div>
            <button #viewMyIdentity [hidden]="true" data-bs-toggle="modal" data-bs-target="#viewMyIdentity" ></button>
            <div class="w-100"></div>
            <div class="col pt-2">
                <div class="list-group">
                    <app-players-list 
                        [childGroupName]="groupName" 
                        [childOnlineUser]="onlineUser"
                        [childGroupLeader]="groupLeader"
                        [childName]="name"
                        [childGameOn]="gameOn"></app-players-list>
                </div>
            </div>
    </div>
</div>


<div class="modal fade" id="backToMenu" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="backToMenu" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title fs-6">Back to Home</p>
            </div>
            <div class="modal-body text-center">
                <p class="badge bg-danger text-wrap fw-bold fs-3">
                    Are you sure to go back to home?
                </p>
                <p class="badge bg-primary text-wrap fs-6">
                    You cannot continue to play once you quit.
                </p>
            </div>
            <div class="modal-footer text-center d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No <i class="fa-solid fa-xmark"></i></button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="userLeavesGroup()">Yes <i class="fa-solid fa-right-from-bracket"></i></button>
            </div>
        </div>
        
    </div>
</div>

<div class="modal fade" id="viewMyIdentity" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="viewMyIdentity" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title">My Identity</p>
            </div>
            <div class="modal-body">
                <div class="fs-6">
                    <div>
                        You identity is: <div class="badge bg-danger text-wrap fw-bold">{{identity}}</div>
                    </div>
                    <div class="fs-6">
                        Description:
                        <ul>
                            <div *ngFor="let ability of abilities;">
                                <li class="fs-6">{{ability}}</li>
                            </div>
                        </ul>
                    </div>
                    <div class="fs-6">
                        If you forget your identity, please click the <strong>top right question mark button</strong> to view again.
                    </div>
                </div>
            </div>
            
            <div class="modal-footer d-flex justify-content-right">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" >Got it! <i class="fa-regular fa-circle-check"></i></button>
            </div>
        </div>
        
    </div>
</div>

<div class="modal fade" id="info" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="info" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">You Identity</h5>
            </div>
            <div class="modal-body">
                <div>
                    You identity is: <div class="badge bg-danger text-wrap fw-bold">{{identity}}</div>
                </div>
                <div class="fs-6">
                    Description:
                    <ul>
                        <div *ngFor="let ability of abilities;">
                            <li class="fs-6">{{ability}}</li>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="modal-footer text-center d-flex justify-content-right">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" >Got it! <i class="fa-regular fa-circle-check"></i></button>
            </div>
        </div>
        
    </div> 
</div>