<div class="container">
    <nav class="navbar rounded shadow fixed-top" style="background-color: #b3d6ef;">
        <div class="container d-flex justify-content-between">
            <div>
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#backToMenu">
                    <i class="fa-solid fa-backward"></i>
                </button>
            </div>
            
            <div>
                <h4>
                    {{_groupName}} {{onlineUser.length}}/{{MaxPlayer}}
                </h4>
            </div>
            <div>
                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#info"> 
                    <i class="fa-regular fa-circle-question"></i> 
                </button>
            </div>
        </div>
    </nav>
</div>
<div class="container-fluid d-flex pt-5">
    <div class="row flex-fill pt-2">
        <div class="col d-flex justify-content-between">
            <div class="pt-2">
                <button class="btn btn-outline-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#GameMessageHistory" aria-controls="GameMessageHistory">
                    <i class="fa-solid fa-comment-dots"></i>
                </button>
            </div>
            <div class="pt-2">
                <strong>Day {{day}}</strong>
            </div>
            <div *ngIf="_groupName == groupLeader.groupName && 
            _name == groupLeader.name && !gameOn" 
            class="pt-2">
                <button class="btn btn-warning"  (click)="gameStart()" [disabled]="!startGameShow">
                    Start Game <i class="fa-solid fa-circle-play"></i>
                </button>
            </div>

            <div class="pt-2" *ngIf="_nightWaitModalShowFlag">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nightWaitingModel">
                    Show <i class="fa-regular fa-eye"></i>
                </button>
            </div>

            <div class="pt-2" *ngIf="hideShowButtonForDisscussion == 'InDisscussion'">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#discussionModel">
                    Show <i class="fa-regular fa-eye"></i>
                </button>
            </div>

            <div class="pt-2" *ngIf="nextStep.nextStepName == 'vote'">
                <div>
                    Vote time left: <countdown #voteCd [config]="config" (event)="voteCountdownEvent($event)"></countdown>
                </div>
            </div>
        </div>
        <button #viewMyIdentity [hidden]="true" data-bs-toggle="modal" data-bs-target="#viewMyIdentity" ></button>
        <button #prepareToVoteModel  [hidden]="true" data-bs-toggle="modal" data-bs-target="#prepareToVoteModel"></button>
        <button #waitingForOtherPlayers  [hidden]="true" data-bs-toggle="modal" data-bs-target="#waitingForOtherPlayers"></button> 
        <button #discussionModel  [hidden]="true" data-bs-toggle="modal" data-bs-target="#discussionModel"></button>
        <button #gameHistory  [hidden]="true" data-bs-toggle="modal" data-bs-target="#gameHistory"></button>
        <button #winningModel [hidden]="true" data-bs-toggle="modal" data-bs-target="#winningModel"></button>
        <button #nightWaitingModel [hidden]="true" data-bs-toggle="modal" data-bs-target="#nightWaitingModel"></button>
        <button #AnnounceExileModel [hidden]="true" data-bs-toggle="modal" data-bs-target="#AnnounceExileModel"></button>
        <button #SpiritualFormationQuestion [hidden]="true" data-bs-toggle="modal" data-bs-target="#SpiritualFormationQuestion"></button>
        <button #waitingForOtherPlayersToViewExileResult [hidden]="true" data-bs-toggle="modal" data-bs-target="#waitingForOtherPlayersToViewExileResult"></button>
    
        <div class="w-100"></div>
        <div class="col pt-2">
            <div class="list-group overflow-hidden">
                <!-- isPriest make sure Priest does not exile himself -->
                <app-players-list 
                    [childGroupName]="_groupName" 
                    [childOnlineUser]="onlineUser"
                    [childGroupLeader]="groupLeader"
                    [childName]="_name"
                    [childGameOn]="gameOn"
                    [voteState]="nextStep.nextStepName"
                    (voteStopCountdown)="voteStopCountdown()"
                ></app-players-list>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col pt-2" *ngIf="startReconnection">
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <div>
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    You were <strong>disconnected</strong> from the Hub. Trying to reconnect 
                    <div class="spinner-border spinner-border-sm text-danger" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start overflow-y-auto" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="GameMessageHistory" aria-labelledby="GameMessageHistory">
    <app-game-message-history #closeGameMessageHistory></app-game-message-history>
</div>


<div class="modal fade" id="backToMenu" tabindex="-1" data-bs-keyboard="false" 
aria-labelledby="backToMenu" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title fs-6">Back to Home</p>
            </div>
            <div class="modal-body text-center">
                <div *ngIf="_nightRoundFinish">
                    <strong>Night Round Finished! Please go back to the modal and view the exile result!</strong>
                </div>
                <div *ngIf="gameOn; then inGameDisplay else outGameDisplay"></div>
                <ng-template #inGameDisplay>
                    <p class="badge bg-danger text-wrap fw-bold">
                        Cannot quit room because the game is on!
                    </p>
                </ng-template>
                <ng-template #outGameDisplay>
                    <p class="badge bg-danger text-wrap fw-bold">
                        Are you sure to go back to home?
                    </p>
                </ng-template>
            </div>
            <div class="modal-footer text-center d-flex justify-content-between">
                <button #closeBackToMenuModel  [hidden]="true" type="button" class="btn btn-primary" 
                data-bs-dismiss="modal"></button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    No <i class="fa-solid fa-xmark"></i>
                </button>
                <button [disabled]="gameOn" type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="userLeavesGroup()">
                    Yes <i class="fa-solid fa-right-from-bracket"></i>
                </button>
            </div>
        </div>
        
    </div>
</div>

<div class="modal fade" id="discussionModel" tabindex="-1" data-bs-keyboard="false" 
aria-labelledby="discussionModel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <div>
                    <p class="modal-title">Discussion</p>
                </div>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    Hide <i class="fa-regular fa-eye-slash"></i>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    Today's topic is <strong>{{discussionTopic}}</strong>.
                </div>
                <div>
                    It is your turn to discuss! 
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-right">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="finishedDiscussion()">
                    Finished! <i class="fa-regular fa-circle-check"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewMyIdentity" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" 
aria-labelledby="viewMyIdentity" aria-hidden="true">
    <app-view-identity-modal #viewIdentityModalApp [_groupName]="_groupName" [_name]="_name"></app-view-identity-modal>
</div>

<div class="modal fade" id="info" tabindex="-1" data-bs-keyboard="false" 
aria-labelledby="info" aria-hidden="true">
     <app-info-modal #infoModal></app-info-modal>
</div>

<div class="modal fade" id="waitingForOtherPlayers" tabindex="-1" data-bs-backdrop="static" 
data-bs-keyboard="false" aria-labelledby="waitingForOtherPlayers" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <div class="pb-2"><strong>Waiting for other players to finish viewing their identity ...</strong></div>
                    <div class="progress" role="progressbar" aria-label="Animated striped example" [attr.aria-valuenow]="waitingProgessPercentage" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" [style.width]="waitingProgessPercentage + '%'"></div>
                    </div>
                    <div class="pt-2">
                        <button type="button" class="btn btn-outline-primary"
                        (click)="isCollapsed = ! isCollapsed"
                        [attr.aria-expanded]="!isCollapsed"
                        aria-controls="collapseExample">
                            Waiting for players list
                        </button>
                        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                            <ul class="list-group">
                                <div *ngFor="let user of stillInActionPlayers">
                                    <li class="list-group-item">
                                        <div class="spinner-border spinner-border-sm text-primary" role="status"></div> {{user.name}}
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <button #closeWaitingForOtherPlayers  [hidden]="true" type="button" class="btn btn-primary" 
                    data-bs-dismiss="modal" ></button>
            </div>
        </div>
        
    </div> 
</div>

<div class="modal fade" id="prepareToVoteModel" tabindex="-1" data-bs-keyboard="false" 
aria-labelledby="prepareToVoteModel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h5> Get ready to vote! <i class="fa-solid fa-check-to-slot"></i> </h5>
                <button #closePrepareToVoteModel  [hidden]="true" type="button" class="btn btn-primary" 
                data-bs-dismiss="modal"></button>
            </div>
        </div>
    </div> 
</div>

<div class="modal fade" id="winningModel" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" 
aria-labelledby="winningModel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div *ngIf="winner == 1">
                    <h4> Christian Wins! <i class="fa-solid fa-cross"></i> </h4>
                </div>
                <div *ngIf="winner == 2">
                    <h4> Judaism Wins! <i class="fa-solid fa-star-of-david"></i> </h4>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-right">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="goToGameHistoryModal()">
                    Okay <i class="fa-regular fa-circle-check"></i>
                </button>
            </div>
        </div>
    </div> 
</div>

<div class="modal fade" id="nightWaitingModel" tabindex="-1" data-bs-backdrop="static"
data-bs-keyboard="false" aria-labelledby="nightWaitingModel" aria-hidden="true">
    <app-night-waiting-model [_groupName]="_groupName"
    (openAnnounceExileModelEvent)="openAnnounceExileModel()"></app-night-waiting-model>
</div>

<div class="modal fade" id="AnnounceExileModel" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" 
aria-labelledby="AnnounceExileModel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <h5 class="modal-title fs-6">Exile Result</h5>
            </div>
            <div class="modal-body text-center">
                <h5> {{exileName}} has been exiled last night! <i class="fa-solid fa-skull"></i> </h5>
                <div>
                    Time left: <countdown #AnnounceExileModelCd [config]="config" 
                        (event)="AnnounceExileModelCdEvent($event)"></countdown>
                </div>
            </div>
            <div *ngIf="checkIfCurrentPlayerIsInGameOrNot(_name); then inGame else outGame"></div>
            <ng-template #inGame>
                <div class="modal-footer d-flex justify-content-right">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="finishedToViewTheExileResult()">
                        Ok <i class="fa-regular fa-circle-check"></i>
                    </button>
                </div>
            </ng-template>
            <ng-template #outGame>
                <div class="modal-footer d-flex justify-content-right">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="SetNightWaitModalShowFlagToFalse()">
                        Exit <i class="fa-solid fa-person-walking-arrow-right"></i>
                    </button>
                </div>
            </ng-template>
            <button #closeAnnounceExileModel type="button" class="btn" hidden="true" data-bs-dismiss="modal"></button>
        </div>
    </div> 
</div>

<div class="modal fade" id="waitingForOtherPlayersToViewExileResult" tabindex="-1" data-bs-backdrop="static" 
data-bs-keyboard="false" aria-labelledby="waitingForOtherPlayersToViewExileResult" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <div class="pb-2"><strong>Waiting for others to finish view exile result ...</strong></div>
                    <div class="progress" role="progressbar" aria-label="Animated striped example" [attr.aria-valuenow]="waitingProgessPercentage" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" [style.width]="waitingProgessPercentage + '%'"></div>
                    </div>
                    <div class="pt-2">
                        <button type="button" class="btn btn-outline-primary"
                        (click)="isCollapsed = ! isCollapsed"
                        [attr.aria-expanded]="!isCollapsed"
                        aria-controls="collapseExample">
                            Waiting for players list
                        </button>
                        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                            <ul class="list-group">
                                <div *ngFor="let user of stillInActionPlayers">
                                    <li class="list-group-item">
                                        <div class="spinner-border spinner-border-sm text-primary" role="status"></div> {{user.name}}
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <button #closewaitingForOtherPlayersToViewExileResult  [hidden]="true" type="button" class="btn btn-primary" 
                data-bs-dismiss="modal" ></button>
            </div>
        </div>
        
    </div> 
</div>

<div class="modal fade" id="SpiritualFormationQuestion" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" 
aria-labelledby="SpiritualFormationQuestion" aria-hidden="true">
    <app-question-modal [_groupName]="_groupName" [_name]="_name"></app-question-modal>
</div>

<div class="modal fade" id="gameHistory" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" 
aria-labelledby="gameHistory" aria-hidden="true">
    <app-game-history (cleanUpEvent)="cleanUp()"></app-game-history>
</div>