.list-group{
    max-height: 85vh;
    /* position:relative; */
    /* min-height: 87vh; */
    overflow: scroll;
    /* overflow-y:hidden; */
    overflow-x: hidden;
    /* overflow-y: hidden; */
    /* -webkit-overflow-scrolling: touch; */
}

#messageGroup{
    overflow: scroll;
    overflow-x: hidden;
}

.caret-off::before {
    display: none;
}
.caret-off::after {
    display: none;
}