<div *ngFor="let user of childOnlineUser; index as i;">
    <div class="list-group-item list-group-item-success">
        <div class="row">
            <div class="col">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <div *ngIf="childGroupName == childGroupLeader.groupName && 
                            user.name == childGroupLeader.name && !childGameOn" class="pe-1">
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <!-- JudasName is for priest player and JudasHimself is for Judas -->
                        <div *ngIf="JudasName == user.name" class="pe-1">
                            <i class="fa-solid fa-user-secret"></i>
                        </div>
                        <div *ngIf="PriestName == user.name && JudasHimself !=''" class="pe-1">
                            <i class="fa-solid fa-hanukiah"></i>
                        </div>
                        <div *ngIf="hintName == user.name" class="pe-1">
                            <i class="fa-solid fa-triangle-exclamation"></i>
                        </div>
                        <div *ngIf="_inDiscustionName == user.name" class="pe-1">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                        <div *ngIf="_inAnswerQuestionName == user.name" class="pe-1">
                            <i class="fa-solid fa-book-open"></i>
                        </div>
                        <div *ngIf="offLinePlayerName.includes(user.name)" class="pe-1">
                            <i class="fa-solid fa-ban"></i>
                        </div>
                        <div *ngIf="identity == 'Nicodemus' && 
                        (PriestName == user.name || ROTSName == user.name)" class="pe-1">
                            <i class="fa-solid fa-user-ninja"></i>
                        </div>
                        <div *ngIf="identity == 'Preist' && 
                        (NicoName == user.name || ROTSName == user.name)" class="pe-1">
                            <i class="fa-solid fa-question"></i>
                        </div>
                        <div *ngIf="identity == 'Pharisee' && 
                        (NicoName == user.name || PriestName == user.name)" class="pe-1">
                            <i class="fa-solid fa-question"></i>
                        </div>
                        <span class="badge bg-danger d-flex justify-content-center align-items-center">
                            <div>{{i + 1}}</div>
                        </span>
                        <h5 class="p-2">{{user.name}}</h5>
                        
                        
                    </div>
                    <div *ngIf="childGroupName == childGroupLeader.groupName && 
                        childName == childGroupLeader.name && !childGameOn"
                        class="dropdown d-flex justify-content-right">
                        <button class="btn btn-outline-secondary dropdown-toggle caret-off" role="button" 
                        data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-ellipsis"></i>
                        </button>
                        <div class="dropdown-menu">
                            <div class="dropdown-item" (click)="assignNewGroupLeader(user.name)">Assign Group Leader</div>  
                        </div>
                    </div>
                    <div *ngIf="checkIfCurrentPlayerIsInGameOrNot(user.name) && childGameOn">
                        <div *ngIf="voteState == 'vote'">
                            <button type="button" class="btn btn-danger" id="vote" 
                            data-bs-toggle="modal" data-bs-target="#voteConformationModel" 
                            (click)="voteHimOrHer(user.name, false)">
                                Vote <i class="fa-regular fa-envelope"></i>
                            </button>
                        </div>
                        <div *ngIf="isPriest && user.name != PriestName">
                            <button type="button" class="btn btn-danger" id="exile"
                            data-bs-toggle="modal" data-bs-target="#exileConformationModel" 
                            (click)="exileHimOrHer(user.name, false)">
                                Exile <i class="fa-solid fa-person-walking"></i>
                            </button>
                        </div>
                        <div *ngIf="_JudasCheckRound && user.name != JudasHimself">
                            <button type="button" class="btn btn-danger" id="check"
                            data-bs-toggle="modal" data-bs-target="#CheckConformationModel" 
                            (click)="checkHimOrHer(user.name, false)">
                                Check <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                        <div *ngIf="_JohnFireRound && !(JohnCannotFireList.includes(user.name))">
                            <button type="button" class="btn btn-danger" id="fire"
                            data-bs-toggle="modal" data-bs-target="#FireConformationModel" 
                            (click)="fireHimOrHer(user.name, false)">
                                Fire <i class="fa-solid fa-fire-flame-curved"></i>
                            </button>
                        </div>
                        <div *ngIf="_JudasHintRound && user.name != JudasHimself">
                            <button type="button" class="btn btn-danger" (click)="HintHimOrHer(user.name)">
                                <i class="fa-regular fa-hand-point-left"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-2">
                <!-- <div *ngIf="!playerNotInGame.includes(user.name); then inGameBadge else outGameBadge"> </div> -->
                <div *ngIf="checkIfCurrentPlayerIsInGameOrNot(user.name); then inGameBadge else outGameBadge"> </div>
                <ng-template #inGameBadge class="d-flex align-items-center">
                    <span class="badge bg-primary d-flex justify-content-center align-items-center">
                        <div>In</div>
                    </span>
                </ng-template>
                <ng-template #outGameBadge class="d-flex align-items-center">
                    <span class="badge bg-danger d-flex justify-content-center align-items-center" >
                        <div>Out</div>
                    </span>
                </ng-template>
            </div>
        </div>
    </div>
</div> 


<div class="modal fade" id="voteConformationModel" tabindex="-1"
data-bs-keyboard="false" aria-labelledby="voteConformationModel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div>
                    Are you sure to vote <strong>{{userChoosePersonName}}</strong> ?
                </div>
            </div>
            <div class="modal-footer text-center d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    No <i class="fa-solid fa-xmark"></i>
                </button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" 
                (click)="voteHimOrHer(userChoosePersonName, true)">
                    Conform <i class="fa-regular fa-circle-check"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exileConformationModel" tabindex="-1"
data-bs-keyboard="false" aria-labelledby="exileConformationModel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div>
                    Are you sure to exile <strong>{{userChoosePersonName}}</strong> ?
                </div>
            </div>
            <div class="modal-footer text-center d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    No <i class="fa-solid fa-xmark"></i>
                </button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" 
                (click)="exileHimOrHer(userChoosePersonName, true)">
                    Conform <i class="fa-regular fa-circle-check"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="FireConformationModel" tabindex="-1"
data-bs-keyboard="false" aria-labelledby="FireConformationModel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div>
                    Are you sure to fire <strong>{{userChoosePersonName}}</strong> ?
                </div>
            </div>
            <div class="modal-footer text-center d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    No <i class="fa-solid fa-xmark"></i>
                </button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" 
                (click)="fireHimOrHer(userChoosePersonName, true)">
                    Conform <i class="fa-regular fa-circle-check"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CheckConformationModel" tabindex="-1"
data-bs-keyboard="false" aria-labelledby="CheckConformationModel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div>
                    Are you sure to check <strong>{{userChoosePersonName}}</strong> ?
                </div>
            </div>
            <div class="modal-footer text-center d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    No <i class="fa-solid fa-xmark"></i>
                </button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" 
                (click)="checkHimOrHer(userChoosePersonName, true)">
                    Conform <i class="fa-regular fa-circle-check"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<button #waitOthersToVoteModel  [hidden]="true" data-bs-toggle="modal" data-bs-target="#waitOthersToVoteModel"></button>
<div class="modal fade" id="waitOthersToVoteModel" tabindex="-1" data-bs-backdrop="static" 
data-bs-keyboard="false" aria-labelledby="waitOthersToVoteModel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <div><strong>Waiting for these players finish voting:</strong></div>
                    <ul class="list-group">
                        <div *ngFor="let user of stillInActionPlayers">
                            <li class="list-group-item">
                                <div class="spinner-border spinner-border-sm text-primary" role="status"></div> {{user.name}}
                            </li>
                        </div>
                    </ul>
                </div>
                <button #closeWaitOthersToVoteModel  [hidden]="true" type="button" class="btn btn-primary" 
                data-bs-dismiss="modal"></button>
            </div>
        </div>
    </div> 
</div>