<div *ngFor="let user of childOnlineUser; index as i;">
    <div class="list-group-item list-group-item-success">
        <div class="row">
            <div class="col">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <div *ngIf="childGroupName == childGroupLeader.groupName && 
                            user.name == childGroupLeader.name && !childGameOn" class="p-2">
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <span class="badge bg-danger d-flex justify-content-center align-items-center">
                            <div>{{i + 1}}</div>
                        </span>
                        <h5 class="p-2">{{user.name}}</h5>
                    </div>
                    <div *ngIf="childGroupName == childGroupLeader.groupName && 
                        childName == childGroupLeader.name && !childGameOn"
                        class="dropdown d-flex justify-content-right">
                        <button class="btn btn-outline-secondary dropdown-toggle caret-off" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-ellipsis"></i>
                        </button>
                        <div class="dropdown-menu">
                            <div class="dropdown-item" (click)="assignNewGroupLeader(user.name)">Assign Group Leader</div>  
                        </div>
                    </div>
                    <div *ngIf="playerInGame && childGameOn">
                        <div *ngIf="voteState == 'vote'">
                            <button type="button" class="btn btn-danger" id="vote" 
                            data-bs-toggle="modal" data-bs-target="#voteConformationModel" (click)="voteHimOrHer(user.name, false)">
                                Vote <i class="fa-regular fa-envelope"></i>
                            </button>
                        </div>
                        <div *ngIf="isPriest && user.name != PriestName">
                            <button type="button" class="btn btn-danger" id="exile"
                            data-bs-toggle="modal" data-bs-target="#exileConformationModel" (click)="exileHimOrHer(user.name, false)">
                                Exile <i class="fa-solid fa-person-walking"></i>
                            </button>
                        </div>
                        <div *ngIf="false">
                            <button type="button" class="btn btn-danger" id="check">Check <i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                        <div *ngIf="false">
                            <button type="button" class="btn btn-danger" id="fire">Fire <i class="fa-solid fa-fire"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-2">
                <div *ngIf="playerInGame; then inGameBadge else outGameBadge"> </div>
                <ng-template #inGameBadge class="d-flex align-items-center">
                    <span class="badge bg-primary d-flex justify-content-center align-items-center">
                        <div>In Game</div>
                    </span>
                </ng-template>
                <ng-template #outGameBadge class="d-flex align-items-center">
                    <span class="badge bg-danger d-flex justify-content-center align-items-center" >
                        <div>Out Game</div>
                    </span>
                </ng-template>
            </div>
        </div>
    </div>
</div> 


<div class="modal fade" id="voteConformationModel" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="voteConformationModel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div>
                    Are you sure to vote <strong>{{votePersonName}}</strong>?
                </div>
            </div>
            <div class="modal-footer text-center d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No <i class="fa-solid fa-xmark"></i></button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="voteHimOrHer(votePersonName, true)">Conform <i class="fa-regular fa-circle-check"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exileConformationModel" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exileConformationModel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div>
                    Are you sure to exile <strong>{{votePersonName}}</strong>?
                </div>
            </div>
            <div class="modal-footer text-center d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No <i class="fa-solid fa-xmark"></i></button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="exileHimOrHer(votePersonName, true)">Conform <i class="fa-regular fa-circle-check"></i></button>
            </div>
        </div>
    </div>
</div>

<button #waitOthersToVoteModel  [hidden]="true" data-bs-toggle="modal" data-bs-target="#waitOthersToVoteModel"></button>
<div class="modal fade" id="waitOthersToVoteModel" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="waitOthersToVoteModel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <h5> Please wait for others to finish voting ...  <i class="fa-solid fa-check-to-slot"></i> </h5>
                <button #closeWaitOthersToVoteModel  [hidden]="true" type="button" class="btn btn-primary" data-bs-dismiss="modal"></button>
            </div>
        </div>
    </div> 
</div>

