<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <p class="modal-title">My Identity</p>
        </div>
        <div class="modal-body">
            <div class="fs-6">
                <div>
                    You identity is: <div class="badge bg-danger text-wrap fw-bold">{{identity}}</div>
                </div>
                <div class="fs-6">
                    Description:
                    <ul>
                        <div *ngFor="let ability of childAbilities;">
                            <li class="fs-6">{{ability}}</li>
                        </div>
                    </ul>
                </div>
                <div class="fs-6">
                    If you forget your identity, please click the <strong>top right question mark button</strong> to view again.
                </div>
            </div>
        </div>
        
        <div class="modal-footer d-flex justify-content-right">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="finishedViewIdentity()">Got it! <i class="fa-regular fa-circle-check"></i></button>
        </div>
    </div>
    
</div>