<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="bugModal">Create a room</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="modal-body">
                <div class="form-group">
                    <label class="form-label">Your firstname</label>
                    <input
                        type="text"
                        formControlName="name"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
                    />
                    <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                        <div *ngIf="f['name'].errors['required']">Firstname is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label">Group Name</label>
                    <input
                        type="text"
                        formControlName="groupName"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['groupName'].errors }"
                    />
                    <div id="passwordHelpBlock" class="form-text">
                        Your group name must be 1-10 characters long without spaces.
                    </div>
                    <div *ngIf="submitted && f['groupName'].errors" class="invalid-feedback">
                        <div *ngIf="f['groupName'].errors['required']">
                            Group Name is required
                        </div>
                    </div>
                    
                </div>

                <div class="form-group">
                    <label class="form-label">Number of players in the room</label>
                    <select class="form-select" 
                        formControlName="maxPlayerInGroup">
                        <option *ngFor="let o of options" [value]="o.name">
                            {{o.name}}
                        </option>
                    </select>
                    <div class="invalid-feedback" *ngIf="submitted && f['maxPlayerInGroup']?.invalid">
                        <sup>*</sup>Please provide number of players
                      </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <div *ngIf="isHidden" class="form-group alert alert-danger d-flex align-items-center" role="alert">
                    <div>
                        Group Already Exists! Try join group!
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Create <i class="fa-solid fa-user-group"></i></button>
                </div>
            </div>
        </form>
        
    </div>
</div>
