<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header d-flex justify-content-between">
            <h5 class="modal-title fs-6">Night waiting screen</h5>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="nightRoundFinish">
                Hide <i class="fa-regular fa-eye-slash"></i>
            </button>
        </div>
        <div class="modal-body text-center">
            <!-- BASIC SETTINGS  -->
            <div class="spinner-grow text-danger" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div> 
                <strong>{{voteResult}}</strong>
            </div>
            <div> It is <strong> Day {{day}} </strong> night time! <i class="fa-solid fa-cloud-moon"></i> </div>
            <div> Please <strong>do not look at other's screen</strong>, and wait for the daylight ... </div>
            <!-- BASIC SETTINGS END -->

            <div *ngIf="_PriestMeetingRound">
                <hr class="border border-danger border-2 opacity-50">
                <div> 
                    You know <strong> {{ROTSName}} </strong> and <strong> {{NicodemusName}} </strong> that
                    one of them is <strong> Nicodemus </strong> and another one is <strong> Pharisee </strong>.
                </div>
                <div *ngIf="hintName != ''">
                    <hr>
                    <strong>{{JudasName}}</strong> is Judas! He/She tells you that <strong>{{hintName}}</strong> might be a Christian!
                </div>
                <div *ngIf="PriestRound">
                    <div> It is your turn! If you are ready, please click the exlie button. </div>
                </div>
            </div>

            <div *ngIf="RulerOfTheSynagogue">
                <hr class="border border-danger border-2 opacity-50">
                <div> 
                    You know <strong> {{PriestName}} </strong> and <strong> {{NicodemusName}} </strong> that
                    one of them is <strong> Priest </strong> and another one is <strong> Nicodemus </strong>.
                </div>
                <div *ngIf="_ROTSGetInfomation">
                    You know <strong>{{lastExiledPlayerName}}</strong> who is exiled last night is a Christian!
                </div>
            </div>

            <div *ngIf="_NicodemusMeetingRound">
                <hr class="border border-danger border-2 opacity-50">
                <div> 
                    You know <strong> {{PriestName}} </strong> and <strong> {{ROTSName}} </strong> that
                    one of them is <strong> Priest </strong> and another one is <strong> Pharisee </strong>.
                </div>
                <div *ngIf="NicodemusSavingRound">
                    <div> It is your turn! Tonight, <strong> {{aboutToExileName}} </strong> will be exiled. 
                        Are you going to save him/her? </div>
                </div>
            </div>

            <div *ngIf="_JudasHintRound">
                <hr class="border border-danger border-2 opacity-50">
                <div> You are <strong>Judas</strong>! <strong>{{PriestName}}</strong> is the Priest. 
                    Guess a person who is most likely to be a Christian and give the hint to the Priest!</div>
            </div>
            <div *ngIf="JudasCheckRound">
                <hr class="border border-danger border-2 opacity-50">
                <div> You are <strong>Judas</strong>! It is your turn to check one person!</div>
                <div *ngIf="JudasCheckResultShow">
                    <hr>
                    <div *ngIf="JudasCheckResult; then isChristan else isUnknow"> </div>
                    <ng-template #isChristan>
                        <div> He/She is a <strong>Christian</strong> !</div>
                    </ng-template>
                    <ng-template #isUnknow>
                        <div> <strong>Unknow result</strong> !</div>
                    </ng-template>
                </div>
            </div>

            <div *ngIf="_JohnFireRound">
                <hr class="border border-danger border-2 opacity-50">
                <div> You are <strong>John</strong> in this game! It is your turn!</div>
            </div>

            <div *ngIf="nightRoundFinish">
                <hr class="border border-danger border-2 opacity-50">
                <div><strong> Night Round Ends! </strong> Please click "End Night" Button.</div>
            </div>
        </div>
        <div *ngIf="PriestRound">
            <div class="modal-footer d-flex justify-content-right">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    Ready to exile <i class="fa-regular fa-circle-check"></i>
                </button>
            </div>
        </div>
        <div *ngIf="NicodemusSavingRound">
            <div class="modal-footer text-center d-flex justify-content-between">
                <button type="button" class="btn btn-danger" (click)="NicodemusAction(false)">
                    No <i class="fa-solid fa-xmark"></i>
                </button>
                <button type="button" class="btn btn-primary" (click)="NicodemusAction(true)">
                    Save <i class="fa-solid fa-handshake-angle"></i>
                </button>
            </div>
        </div>
        <div *ngIf="_JohnFireRound">
            <div class="modal-footer text-center d-flex justify-content-between">
                <button type="button" class="btn btn-danger" (click)="DoNotFire()">
                    No <i class="fa-solid fa-xmark"></i>
                </button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    Fire <i class="fa-solid fa-fire-flame-curved"></i>
                </button>
            </div>
        </div>
        <div *ngIf="JudasCheckRound">
            <div class="modal-footer d-flex justify-content-right">
                <div *ngIf="JudasCheckResultShow; then endNightRound else beginToCheck"> </div>
                <ng-template #endNightRound>
                    <button type="button" class="btn btn-primary" (click)="NightRoundEnd()">
                        Okay <i class="fa-regular fa-circle-check"></i>
                    </button>
                </ng-template>
                <ng-template #beginToCheck>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                        Check <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </ng-template>
               
            </div>
        </div>
        <div *ngIf="_JudasHintRound">
            <div class="modal-footer d-flex justify-content-right">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    Ready <i class="fa-regular fa-circle-check"></i>
                </button>
            </div>
        </div>
        <div *ngIf="nightRoundFinish">
            <div class="modal-footer d-flex justify-content-right">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="goToAnnounceExileModel()">
                End Night <i class="fa-regular fa-sun"></i>
                </button>
            </div>
        </div>
    </div>
</div>